.Product{
    height : 68vh;
    width: 25vw;
    display: inline-block;
    margin: 2rem 3rem;
    color: white;
    text-align: center;
}

.Image{
    width: 80%;
    height: 60%;
    padding: 1rem 10%; 
}

.Title{
    font-family: cursive;
    font-weight: bold;
    font-size: 1.75rem;
    margin: 0;
    padding: 0;
}

.Price{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

@media(max-width: 600px){
    .Product{
        display: block;
        width: 50vw;
        height: auto;
        margin: 5vh 25vw;
        margin-bottom: 0;
    }

    .Image{
        width: 50vw;
        height: 50vw;
        padding: 0; 
    }

    .Title{
        margin-top: 3vh;       
    }

    .Price{
        margin-top: 2vh;
        font-size: 1.65rem;
    }
}