.ContactUs{
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 10vh;
    color: crimson;
    background: url('../../assets/images/contact.jpg') no-repeat;
    background-size: cover;
}

.Heading{
    margin: 0;
    padding: 0;
    font-size: 4rem;
    font-family: cursive;
    padding-top: 2rem;
    padding-left: 10vw;
    text-align: center;
}

.Line{
    padding: 0;
    margin: 0;
    color: mediumvioletred;
    text-align: center;
    padding-left: 10vw;
    font-weight: bolder;
    font-size: 3rem;
    line-height: 0;
}

.Form{
    color: olivedrab;
    font-weight: bolder;
    margin: 2rem 0;
    padding: 0;
    margin-top: 8vh;
    margin-left: 45vw;
    font-size: 1.5rem;
}

.Form *{
    display: block;
}

.Form input[type="text"],
.Form input[type="email"]{
    width: 25vw;
    font-size: 1.5rem;
}

.Form input[type="submit"]{
    background: transparent;
    font-size: 1.5rem;
    color: crimson;
    padding: 0.5rem 1.5rem;
    border: 4px solid crimson;
    border-radius: 1rem;
    margin-top: 3vh;
    cursor: pointer;
}

.Form input[type="submit"]:hover{
    background: crimson;
    color: white;
}

.Form textarea{
    resize: vertical;
    width: 40vw;
    
    font-size: 1.125rem;
}

.Label{
    margin-top: 2rem;
}

@media(max-width: 600px){
    .Heading{
        color: brown;
        padding: 0;
        padding-top: 2rem;
    }

    .Line{
        padding: 0;
        line-height: 2rem;
    }

    .Form{
        margin: 5vh 15vw;
        min-width: 70vw;
        font-size: 1.5rem;
    }

    .Form input[type="text"],
    .Form input[type="email"]{
        width: 70vw;
        font-size: 1.5rem;
    }
    
    .Form textarea{
        resize: vertical;
        width: 70vw;
        font-size: 1.125rem;
    }
}