.Awards{
    height: auto;
    width: 100vw;
    background-color: rgb(19, 8, 0);
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 4rem;
    color: white;
}

.Awards section{
    margin: 0 5vw;
    display: inline-block;
}

.Number{
    font-family: cursive;
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
}

.Desc{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: darkgray;
}

@media(max-width: 600px){
    .Awards{
        padding: 4vh 10vw;
        display: flex;
        flex-flow: column;
        width: 80vw;
    }
    
    .Awards section{
        margin: 0 0vw;
        padding: 5vh 10vw;
        display: block;
        
    }
}