.Testimonials{
    background: url('../../assets/images/testimonial.jpg') no-repeat;
    width: 100vw;
    background-size: cover;
    height: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 10vh;
}

.Title{
    font-family: cursive;
    font-weight: bold;
    font-size: 4rem;
    margin: 0;
    color: white;
    text-align: center;
    text-decoration: underline;
    padding: 3rem 0;
}