.Login{
    z-index: 1000;
    position: fixed;
    top: 28vh;
    left: 25vw;
    width: 50vw;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    display: block;
}

.Login p{
    font-size: 1.75rem;
    color: white;
    background: rgb(214, 155, 112);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5rem;
    margin: 1rem auto;
    width: fit-content;
}

.Login form{
    margin: 5vh 5vw;
}

.Login form label{
    margin-top: 2vh;
    color: black;
    display: block;
    font-size: 1.25rem;
}

.Login form input{
    display: inline-block;
    font-size: 1rem;
    width: 15vw
}

.Login form input[type="submit"]{
    margin-top: 4vh;
    display: block;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    width: auto;
    background: rgb(0, 16, 163,0.75);
    padding: 0.35rem 1.2rem;
    cursor: pointer;
    color: white;
}

.Login form input[type="submit"]:hover{
    background: rgb(0, 16, 163);
    color: white;
    box-shadow:  0px 2px 7px 7px rgba(0, 16, 163, 0.466) ;
}

.Login form input[value="SignUp"],
.Login form input[value="SignUp"]:hover{
    background: crimson;
    border: none;
}

.Login form input[value="SignUp"]:disabled{
    background: grey;
    box-shadow: none;
    cursor: not-allowed;
}

.Match,
.GoodPassword{
    font-size: 0.75rem;
    color: green;
}

.UnMatch,
.PasswordRegex{
    font-size: 0.75rem;
    color: red;
}

.EmailExists{
    display: none;
    background: red;
    border : none;
    text-align: left;
    font-size: 1.25rem;
    border-radius: none;
}

@media(max-width: 600px){
    .Login{
        top: 20vh;
        left: 12.5vw;
        width: 75vw;
    }

    .Login p{
        font-size: 1.25rem;
    }
    
    .Login form input{
        display: inline-block;
        font-size: 1rem;
        width: 50vw;
    }
    
    .Match,
    .GoodPassword{
        font-size: 0.75rem;
        color: green;
        display: block;
    }
    
    .UnMatch,
    .PasswordRegex{
        display: block;
        font-size: 0.75rem;
        color: red;
    }
    
    .EmailExists{
        display: none;
        background: red;
        border : none;
        text-align: left;
        font-size: 1.25rem;
        border-radius: none;
    }

}