.News{
    background-color: rgb(19, 8, 0);
    width: 100vw;
    height: auto;
    color: white;
    margin: 0;
    padding: 0;
    padding-bottom: 10vh;
}

.Title{
    font-size: 4rem;
    font-family: cursive;
    color: white;
    text-align: center;
    padding-top: 5rem;
    margin: 0;
    line-height: 2rem;
}

.Line{
    color: yellow;
    font-size: 1.75rem;
    text-align: center;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.Image{
    width: 20vw;
    height: 20vw;
    box-shadow: white 0px 0px;
    padding: 0;
    margin: 0
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 0 10vw;
    margin-top: 10vh;
}

.container a{
    font-size: 1rem;
    color:rgb(211, 120, 55);
    text-decoration: none;    
}

.container p{
    width: 20vw;
    height: 20vh;
    padding: 0;
    margin: 0;
    font-family: cursive;
    font-style: oblique;
    line-height: 1.12;
    font-size: 1.125rem;
    word-spacing: 0.6vw;
}

@media(max-width: 600px){
    .Title{
        padding-top: 3rem;
        line-height: 3rem;
    }

    .container{
        display: block;
        justify-content: space-between;
        margin: 5vh 20vw;
        width: 80vw;
    }

    .container span{
        display: none;
    }

    .Image{
        width: 60vw;
        height: 60vw;
        box-shadow: white 0px 0px;
        padding: 0;
        margin: 0
    }

    .container p{
        width: 60vw;
        height: auto;
        font-family: cursive;
        font-size: 1.5rem;
        padding-bottom: 5vh;
    }
}